td.parameters-col_description {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
}

td.parameters-col_description input{
    margin-right: auto !important;
}


.renderedMarkdown {
    width: 100%;
}

.swagger-ui .parameters-col_description input {
    width: unset !important;
}

tr {
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

td.response-col_description > div > div > p {
    margin: 0 !important;
}

section.models #model-pagination {
    display: none !important;
}

.auth-wrapper .authorize {
    position: absolute;
    top: 13px
}

.scheme-container {
    display: contents;
}